body{
  background-image: url(../img/fonasp.jpeg);
  background-position: center 15%;
}
header {

    display: flex;
    justify-content: center;
    background-image: url(../img/flechaaspi.jpg);
    background-position: center 50%;
    background-size: cover;
    opacity: .8;
}
nav {
    display: flex;
      width: 100%;
      justify-content: center;
    }
    
    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin-top: 50px;
      margin-bottom:0;
      padding: 0;
      width: 100%;
      background-color:transparent;
    }
    
    li a{
      display: block;
      color: rgb(0, 0, 0);
      padding: 8px 16px;
      text-decoration: none;
      font-family:'Fuzzy Bubbles', cursive;
      font-size: 15px;
    }
    
    li a:hover {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
    }
h1 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 100px;
    margin-top: 15px;
    margin-bottom: 100px;
}
section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background-color: black;

}

.uni{
  display: flex;
width: 400px;
height: 350px;
margin-left: 25px;
margin-right: 30px;
}
.estudian{
  display: flex;
  width: 450px;
  height: 350px;
  margin-left: 50px;
  margin-right: 100px;
}
.gra{
  display: flex;
  width: 400px;
  height: 350px;
  margin-right: 20px;
}
.trab{
  display: flex;
  width: 400px;
  height: 350px;
  margin-left: 25px;
  margin-right: 30px;
}
.exp{
  display: flex;
  width: 400px;
  height: 350px;
  margin-left: 25px;
  margin-right: 30px;
}
p{
  display: flex;
  font-family: fantasy;
  color: rgb(255, 255, 255);
   font-size: 35px;
   margin-top: 25px;
   justify-content: center;
   padding-left: 50px;
   padding-right: 100px;
 }