body {
    background-image: url(./img/hobbies.webp);
}

header {
    display: flex;
    justify-content: center;
    background-image: url(./img/music.gif);
    background-position: center 50%;
    background-size: cover;

}

nav {
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: center;

}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

li a {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    color: rgb(255, 255, 255);
}

li a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(171, 180, 196);
    color: 0;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(7, 61, 107);
    margin-top: 10px;
    height: 400px;
}

b {
    font-family: Verdana;
    font-size: 50px;
}

li {
    font-family: cursive;
    color: rgb(0, 0, 0);

}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 100px;
    margin-top: 15px;
    margin-bottom: 100px;
}