

body {
    background-image: url(../img/artificiales.webp);
    background-position: center 25%;
    background-size: cover;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.minombre {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(7, 61, 107);
    margin-top: 350px;
}

h1 {
    background-color: rgb(7, 61, 107);
    font-size: 50px;
}

h2 {
    background-color: rgb(7, 61, 107);
    font-size: 25px;
}