body {
    background-image: url(../img/fondo\ proyec.webp);
    background-position: center 10%;
    background-size:cover;
}
header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url(../img/proyec.gif);
    background-position: center 50%;
    background-size: cover;
}
nav {
    display: flex;
    width: 100%;
    justify-content: center;

}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 50px;
    margin-bottom:0;
    padding: 0;
    width: 100%;
    background-color:transparent;
}

li a {
    display: block;
color: rgb(0, 0, 0);
padding: 8px 16px;
text-decoration: none;
font-family:'Fuzzy Bubbles', cursive;
font-size: 15px;
}

li a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    color: 0;
}
h1 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 100px;
}