body {
    background-image: url(../img/fondoiniciosesion.jpg);
   background-position: center;
    background-size:cover;
}

form {
    background-color: rgba(4, 4, 4, 0.727);
    margin: 150px auto;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    padding: 30px;
    opacity: .8;
}
b{
    display: flex;
 font-family: cursive;
 margin-top: 15%;
 margin-bottom: 20%;
 font-size: 30px;
justify-content: center;
color: white; 
}
.usuary {
    display: block;
    background: transparent;
    width: 100%;
    margin-top:5%;
    box-shadow: none;
    box-sizing: border-box;
    outline-color: transparent;
    padding: 8px 12px;
    border-color: rgb(254, 254, 254);
    color: rgb(255, 255, 255);
    margin-bottom: 10%;
}

.contra {
    display: block;
    background: transparent;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
    box-sizing: border-box;
    outline-color: transparent;
    padding: 8px 12px;
    border-color: rgb(255, 255, 255);
    color: white;
}

button {
    display: block;
    background: transparent;
    position: relative;
    top: 50px;
    left: 35%;
    border-radius: 10px;
    width: 162px;
    height: 38px;
    color:white ;
    border-color: white;
    padding: 10px;
}
